.leaflet-App {
  text-align: center;
}

.leaflet-header {
  background-color: #282c34;
  min-height: 75%;
  min-width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.leaflet-container {
  height: 429px;
  width: 100%;
}