.major-paths-taken {
    margin-bottom: 7%;
}

.tradeArea-App-header .leaflet-container {
    height: 429px;
    width: 88%;
    margin-bottom: 3%;
}
.majorborder{
    border: 1px solid #BDBDBD;
    opacity: 0.6;
}